@import "tailwindcss";

@theme {
  --color-void: #050505;
  --color-bone: #E0E0E0;
  --color-error: #FF2A2A;
}

:root {
  --background: var(--color-void);
  --foreground: var(--color-bone);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Hide default scrollbar for custom 3D scroll */
  margin: 0;
  padding: 0;
}
