
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #E0E0E0;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Hide scrollbar but keep functionality */
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

body::-webkit-scrollbar { 
    display: none; 
}

/* Smooth scrolling for the whole page */
html {
    scroll-behavior: smooth;
}
